<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<app-header></app-header>
<div class="jumbotron" style="margin-top:10px">
  <h1 class="display-4">ADD DISH</h1>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
    </div>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" [(ngModel)]="dish_name">
  </div>

  <div class="input-group input-group-lg">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-lg">Materials</span>
    </div>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" [(ngModel)]="material_temp" placeholder="use space to list materials">
  </div>
  <a class="btn btn-primary btn-lg" href="#" role="button" (click)="add()">add!</a>
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Do your materials match a dish?(also use space in order)" aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="materials_check">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary " type="button" id="button-addon2" (click)="check()">Check!</button>
  </div>
</div>
<div class="card" style="width: 18rem;" *ngIf="isFalse">
  <div class="card-body">
    <h5 class="card-title">Sorry, no dish matches!</h5>
  </div>
</div>
<div class="card" style="width: 18rem;" *ngIf="isTrue">
  <div class="card-body">
    <h5 class="card-title">Awesome!</h5>
    <span>The dish name is: {{showname}}</span>
  </div>
</div>
</body>
</html>
